.avatar {
  background-color: #34363a;
  display: flex;
  justify-content: center;
}
.avatar img {
  width: 30%;
}
.profileInfo {
  padding: 1rem;
}
.address {
  display: flex;
  justify-content: flex-start;
  margin: 10px 0px;
}
.levelContainer {
  display: flex;
  margin: 10px 0px;
}
.skillContainer {
  width: 100%;
  background-color: #ddd;
  margin-left: 3px;
}
.skills {
  text-align: right;
  color: white;
}
.level {
  width: 90%;
  background-color: #008cba;
}

.tier {
  margin: 10px 0px;
}

.nft {
  margin: 10px 10px 0px 0px;
  display: flex;
}

.ipfs img {
  /* border: 1px solid #ddd; */
  /* border-radius: 4px; */
  padding: 5px;
  width: 80px;
}

.ipfs img:hover {
  /* box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5); */
  opacity: 0.8;
}

.ipfs button {
  background-color: #008cba;
  border: none;
  outline: 0;
  color: white;
  text-align: center;
  font-size: 15px;
  padding: 1px 4px;
  cursor: pointer;
  float: right;
}

.ipfs button:hover {
  opacity: 0.8;
}

.wallet {
  border: none;
  outline: 0;
  padding: 50px;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  background-color: inherit;
}

.wallet:hover {
  opacity: 0.7;
}
