.modalOverlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  opacity: 1;
  animation: show 0.5s ease;
  overflow-x: hidden;
  overflow-y: auto;
}

@keyframes show {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: flex;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modal {
  width: 30%;
  background-color: #fff;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.2);
  position: relative;
}
.closeButton {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #34363a;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  border: 0;
  cursor: pointer;
  outline: 0;
  box-shadow: 0 0 0.625rem rgba(0 0, 0, 0.1);
}
.closeButton:hover {
  /* background-color: #424f63; */
  opacity: 0.7;
}

.closeButton::before,
.closeButton::after {
  content: "";
  position: absolute;
  top: 1.2rem;
  left: 0.25rem;
  width: 2rem;
  height: 0.1rem;
  background-color: #fff;
}

.closeButton::before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.closeButton::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}
