.marketplaceComp {
  /* padding-top: 1px; */
  background-color: #1e2235;
  height: 100vh;
  /* margin-bottom: 500px; */
}
.marketplaceComp button {
  background-color: #008cba;
  border: none;
  outline: 0;
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 5px;
  cursor: pointer;
  float: right;
  margin-top: 10px;
  margin-right: 48px;
}

.marketplaceComp button:hover {
  opacity: 0.8;
}

#marketwelcome {
  font-size: 40px;
}
.marketabout {
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
}

/* .marketIpfs {
  margin: 10px 10px 0px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}
.marketIpfs img {
  border-radius: 4px;
  padding: 5px;
  width: 300px;
}

.marketIpfs img:hover {
  box-shadow: 0 0 2px 1px rgba(187, 16, 16, 0.507);
  opacity: 0.8;
} */

.banner {
  background: #a770ef;
  background: -webkit-linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
  background: linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
}
