.navigation {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid #d15116;
  height: 80px;
  width: 100%;
  background-color: #171c28;
  z-index: 999;
}

.logo img {
  margin: 15px 0px 20px 20px;
  width: 70px;
}

.li {
  display: inline;
  padding: 20px;
  font-family: Inter;
  font-size: 20px;
  list-style: none;
  color: #ffffff;
}

.li:hover {
  color: darkgray;
}

a {
  text-decoration: none;
  color: inherit;
}

#selected {
  color: #429ffd;
  text-decoration: underline;
}
