.GamesComp {
  background-color: #171c28;
  height: 200vh;
  padding: 0.1px;
  /* border: 1px solid red; */
  margin: 10px 10px 0px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

#tagline {
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 106%;
  letter-spacing: -0.2px;
  color: #ffffff;
  text-align: center;
}
.gameGallery {
  padding-left: 500px;
}

.aboutGame {
  background-color: #171c28;
  height: 100vh;
  outline: 0;
  margin: 0;
  padding: 0.1px 10px 0px 30px;
}
.aboutGame h1 {
  color: gray;
}

.aboutGame p {
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-size: 22px;
  letter-spacing: -0.2px;
  color: #acc7cf;
}
.playButton {
  display: flex;
  justify-content: center;
}

.playButton button {
  background-color: #008cba;
  border: none;
  outline: 0;
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 5px;
  cursor: pointer;
}
.playButton button:hover {
  opacity: 0.8;
}

#pacman {
  height: 700px;
  width: 694px;
  margin-top: 0px;
  margin-bottom: 200px;
  margin-left: 450px;
  border: 2px solid red;
  background-color: #008cba;
}

.visible {
  opacity: 1;
}
.notVisible {
  opacity: 0;
}

.findPlayer {
  text-align: center;
  font-size: 25px;
}
.bold {
  font-weight: 800;
}
.loading {
  text-align: center;
  font-size: 25px;
  font-weight: 800;
}
.winner {
  text-align: center;
  font-size: 25px;
  font-weight: 800;
}
